<h2>Products</h2>

<div *ngFor="let product of products">
  <h5>
    <a [title]="product.name + ' details'"
    [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
  </h5>
  <p *ngIf="product.description">Description : {{ product.description }}</p>
  <p *ngIf="product.price">Price of the product : {{ product.price }}</p>
  <button type="button" (click)="share(product.name)">
    Share Product
  </button>
  <app-product-alerts [product]="product"
  (notify)="OnNotify()">
  </app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
